body {
    background-color: #ebe0cf;
  }

  #wrapper {
    margin: 24px auto;
    margin-top: 0px !important;
    width: 1200px;
    background-color: #ebe0cf;
  }

header h1{
    font-family: "mencken-std-head", sans-serif;
    font-weight: 800;
    font-style: italic;
}

header{
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 24px;
    width: 1200px;
    height: 100px;
    /* background: rgb(61,60,119);
    background: linear-gradient(180deg, rgba(61,60,119,1) 027%, rgba(1,0,48,1) 100%); */
    background-color: #ebe0cf;
    color: black;
    display: grid;
  }

header h1{
    grid-column: span 1;
    color: black;
    margin-left: 50px;
    padding-top: 10px;
    font-weight: normal;
  }

header img{
    width: 200px;
    align-content: left;
    margin-top: 20px;
  }
  
nav{
    grid-column: span 1;
    display: grid;
    padding-top: 20px;
    margin-left: 240px;
  }
  
nav ul {
    list-style-type: none; /* none, disc, circle, square */
    margin-top: 1%;
    padding-left: 40px;
  }
  
nav li {
    display: inline-block;
    width: 90px;
    margin: 5px;
    color: black;
  }
nav li a {
    color: black;
    text-decoration: none;
    display: block;
    padding: 15px;
    font-size: 20px;
    transition: all .5s;
    
  }
  
nav li a:hover{
    transform: scale(1.1);
    color: grey;
  
  }

main{
  text-align: center;
}  

main h1 {
    font-family: "mencken-std-head", sans-serif;
    font-weight: 800;
    font-style: italic;
  }

main p {
  font-family: "mencken-std-head", sans-serif;
  font-size: 16px;
}

p{
  font-family: serif;
  color: black;
}

.fire {
  display: block;
  margin: 20px auto;
  max-width: 100%;
  height: auto;
}
